.login {
  min-height: 100vh;
  padding: 10% 20px 0;
  background-color: rgb(63, 81, 181);
}

form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  padding: 30px 25px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  border-radius: 8px;
}

.title {
  text-align: center;
  margin-bottom: 30px;
  color: rgb(63, 81, 181);
  /* font-weight: 500;
  font-size: 28px; */
}

.form-field {
  margin-bottom: 10px;
}

.btn-password {
  margin: 0px 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

@media screen and (max-width: 768px) {
  .login {
    padding: 30% 20px 0;
  }

  .form input {
    font-size: 10px;
  }
}
