<div class="home">
  <div class="main-content">
    <div class="add-patient-btn">
      <button mat-flat-button color="primary" routerLink="add-patient">Add New
        Patient</button>
    </div>
    @if (loading) {
    <mat-spinner />
    }@else{
    @if(patientData){
    <div class="list-patients">
      <mat-card class="patient-card">
        <mat-card-header>
          <mat-card-title style="margin-bottom: 10px;">{{patientData?.firstname
            + ' ' +
            patientData?.lastname
            }}</mat-card-title>
        </mat-card-header>
        <mat-card-content style="margin: 10px 0;">
          <h3 *ngIf="patientData?.zipcode">Zipcode:
            {{patientData?.zipcode}}</h3>
          <h3>Mobile Number: {{patientData?.mobile}}</h3>
          <h3>Create Date: {{patientData?.created_date}}</h3>
        </mat-card-content>
        <mat-divider />
        <mat-card-actions style="text-align: right;">
          <a mat-button color="primary"
            routerLink="/patient-details/{{patientData?.patient_id}}">Show
            Details</a>
        </mat-card-actions>
      </mat-card>
    </div>
    }@else{
    <div>No Data Found</div>
    }
    }
  </div>
</div>
