mat-sidenav-container {
  height: calc(100vh - 65px - 40px);
}

mat-sidenav-content {
  padding: 16px;
}

mat-sidenav {
  background-color: rgb(63, 81, 181);
  width: 250px;
}

mat-list-item {
  width: 100%;
  padding: 0 10px;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
}

.nav-link mat-icon {
  margin-right: 10px;
}

mat-list-item:hover {
  background-color: #fff;
  color: rgb(63, 81, 181);
}

mat-list-item:hover .nav-link {
  color: rgb(63, 81, 181);
}
